<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Simpsons' Quotes</title>
	</head>
	<body>
		<h1>Simpsons' Quotes</h1>
		<form action="/quotes" method="POST">
			<input type="text" placeholder="name" name="name" />
			<input type="text" placeholder="quote" name="quote" />
			<button type="submit">Submit</button>
		</form>
		<ul class="quotes">
			<% for(var i = 0; i < quotes.length; i++) {%>
			<li class="quote">
				<span><%= quotes[i].name %></span>:
				<span><%= quotes[i].quote %></span>
			</li>
			<% } %>
		</ul>
		<div>
			<h2>Mr. Burns invades!</h2>
			<p>
				Replace first quote made by Homer with a quote written by Mr. Burns. If
				there aren't any quotes by Homer, it will add a new quote by Mr. Burns
				anyway.
			</p>
			<button id="update-button">Replace Homer's quote</button>
		</div>
		<div>
			<h2>Remove Mr. Burns!</h2>
			<p>
				Delete a quote by Mr. Burns. Does nothing if there are no more of his
				quotes.
			</p>
			<button id="delete-button">Delete Mr. Burns quote</button>
		</div>
		<div id="message"></div>
		<script src="/main.js"></script>
	</body>
</html>
